:root {
  --color-primary: rgb(42, 84, 221);
  --color-primary-dark: rgb(25, 49, 129);
  --color-primary-ligh: rgb(201, 213, 252);
  --fontcolor-primary: rgb(155, 179, 255);
  --fontcolor-secundary: rgb(106, 140, 255);
  --fontcolor-terceary: rgb(78, 119, 255);
  --background-color-primary: rgb(25, 49, 129);
  --background-color-second:rgb(201, 213, 252);
  --button-color-1: rgb(42, 84, 221);
  --button-color-2: rgb(68, 112, 255);
}

* {
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--color-primary);
  display: grid;
}

header {
  background-color: var(--background-color-primary);
  padding: 10px;
}

header h1 {
  text-align: center;
  color: var(--fontcolor-primary);
  margin: 10px;
}

nav>ul {
  display: flex;
}

nav li {
  background-color: var(--button-color-1);
  padding: 5px 15px 5px 15px;
  margin: 5px;
  list-style: none;
  border-radius: 5px;
}

li a {
  color: #000;
}

nav li:hover {
  background-color: var(--fontcolor-primary);
  transition: 0.2s;

}

main{
  margin: auto;
  max-width:100vh ;
  background-color: var(--background-color-second);
  padding: 20px;
  text-align: center;
}
#main{
  margin-top: 15vh;
  padding: 15%;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.342);
  cursor: default;
}

.section{
  display: grid;
  align-content: space-around;
}
.button{
  color: var(--color-primary-dark);
  background-color: var(--button-color-1);
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);

}
.button:hover{
  background-color: var(--button-color-2);
  cursor: pointer;
}
#res{
  font-size: 3em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#itens{
  padding-top: 60px;
}

.pausado{
  color: red;
}
