<%- include('includes/head');%>
  <section class="container">
      <h1>aa</h1>



    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>Cliente</label>
      <input type="text" name="cliente" />
    </form>
  </section>
  <%- include('includes/footer') ;%>

