:root {
  --color-primary: rgb(42, 84, 221);
  --color-primary-dark: rgb(25, 49, 129);
  --color-primary-ligh: rgb(201, 213, 252);
  --fontcolor-primary: rgb(155, 179, 255);
  --fontcolor-secundary: rgb(106, 140, 255);
  --fontcolor-terceary: rgb(78, 119, 255);
  --background-color-primary: rgb(25, 49, 129);
  --background-color-second:rgb(201, 213, 252);;
  --button-color-1: rgb(42, 84, 221);;
}

* {
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--color-primary);
  display: grid;
}

header {
  background-color: var(--background-color-primary);
  padding: 10px;
}

header h1 {
  text-align: center;
  color: var(--fontcolor-primary);
  margin: 10px;
}

nav>ul {
  display: flex;
}

nav li {
  background-color: var(--button-color-1);
  padding: 5px 15px 5px 15px;
  margin: 5px;
  list-style: none;
  border-radius: 5px;
}

li a {
  color: #000;
}

nav li:hover {
  background-color: var(--fontcolor-primary);
  transition: 0.2s;

}

main{
  margin: auto;
  max-width:100vh ;
  background-color: var(--background-color-second);
  padding: 20px;
  text-align: center;
}

#main{
  margin-top: 10%;
  padding: 15%;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.295);
}

section h1, section p{
  margin-bottom: 25px;
}

.tarefas{
  text-align: left;
  line-height: 1.5em;
  background-color: var(--background-color-primary);
  margin: -15px;
  padding: 15px;
  color: var(--color-primary-ligh);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
}

.tarefas li{
  display: flex;
  justify-content: space-between;
}

ul #lisfor{
  text-align: center;
  font-weight: bolder;
}

.tarefas li:hover{
  background-color: var(--button-color-1);;
  border-radius: 7px;
  padding-left: 3px;
}

.button{
  color: var(--color-primary-dark);
  background-color: var(--button-color-1);
  height: 30px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
  padding: 0px 8px;
}

.button:hover{
  background-color: var(--button-color-2);
  cursor: pointer;
}

.buttondel{
  color: var(--color-primary-light);
  background-color: var(--button-color-1);
  height: 25px;
  margin: 2px;
  border-radius: 3px;
  border-style: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
  padding: 0px 8px;
  margin-right: -0px ;
}

.buttondel:hover{
  color: var(--color-primary-dark);
  background-color: var(--background-color-second);
  font-weight: bolder;
  transition: 3ms;
}

.input{
  padding: 0px 5px;
  width: 160px;
  height: 28px;
  border-radius: 5px;
  border-style: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.541);
}